/* ------------------------ */
/* TYPOGRAPHY               */
/* ------------------------ */

h1, h2, h3, h4, h5, h6 {
    font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif;
    color: #19191a;
}

h1.main-heading {
    font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif;
    font-weight: bold;
    color: #af6d29;
    margin-top: 100px;
    font-size: 36px;
    text-align: center;
}

h1.main-heading-accordion {
    font-weight: bold;
    color: #af6d29;
    font-size: 36px;
    text-align: left;
}

h1.main-heading-style-guide {
    font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif;
    font-size: 2rem;
}

.cd-typography h1.main-heading::before {
    content: 'Aa - ';
    color: #af6d29;
    font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif;
}

h2.secondary-heading {
    font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif; 
    color: #414141;
    font-weight: bold;
    text-transform: uppercase;
    margin: 1rem 0;
    font-size: 1.75rem;
}

h2.secondary-heading-extra {
    font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif; 
    color: #414141;
    margin-top: 12px;
    text-align: center;
    margin-bottom: 80px;
    font-size: 14px;
    margin-top; 0px;
}

h2.secondary-heading-style-guide {
    font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif; 
    font-size: 1.5rem;
}

h3.teritary-heading {
    font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif; 
}

h3.teritary-heading-style-guide {
    font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif;
    font-size: 1.17rem;
}

h4.fourth-heading {
    font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif; 
}

h4.fourth-heading-style-guide {
    font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif;
    font-size: 1rem;
}

h5.fifth-heading {
    font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif; 
}

h5.fifth-heading-style-guide {
    font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif;
    font-size: 0.83rem;
}

h6.sixth-heading {
    font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif; 
}

h6.sixth-heading-style-guide {
    font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif;
    font-size: 0.67rem;
    margin-bottom: 24px;
}

a.secondary-heading {
    color: #414141;
    font-size: 1.5rem;
}

a.secondary-heading:hover {
    color: #af6d29;
    transition: 0.3s;
}

.ui-icon {
    background-color: #ededed !important;
    border-radius: 5px;
    margin-right: 10px;
}

.ui-icon:hover {
    background-color: #ededed !important;
}

ul {
    color: #000000;
}

p.type-heading {
    font-size: 1.5rem;
    font-weight: bold;
    color: #58585b;
}

p.main-text {
    font-size: 1.5rem;
    line-height: 1.5;
    color: #58585b;
}

p.header-main-text {
    font-size: 1.5rem;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 0px;
}

ul { 
   list-style-type: disc; 
   list-style-position: inside; 
}

ol { 
   list-style-type: decimal; 
   list-style-position: inside; 
}

ul ul, ol ul { 
   list-style-type: circle; 
   list-style-position: inside; 
   margin-left: 15px; 
}

ol ol, ul ol { 
   list-style-type: lower-latin; 
   list-style-position: inside; 
   margin-left: 15px; 
}

li.bold {
    font-weight: bold;
}

.ui-widget-content a {
    color: #af6d29 !important;
    text-decoration: underline !important;
    cursor: pointer !important;
}

/* ------------------------ */
/* PT Serif                 */
/* ------------------------ */

.pt-serif-regular {
    font-family: "PT Serif", serif;
    font-weight: 400;
    font-style: normal;
    color: #58585b;
}

.pt-serif-bold {
    font-family: "PT Serif", serif;
    font-weight: 700;
    font-style: normal;
    color: #58585b;
}

.pt-serif-regular-italic {
    font-family: "PT Serif", serif;
    font-weight: 400;
    font-style: italic;
    color: #58585b;
}

.pt-serif-bold-italic {
    font-family: "PT Serif", serif;
    font-weight: 700;
    font-style: italic;
    color: #58585b;
}

/* ------------------------ */
/* COLUMNS                  */
/* ------------------------ */

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

.grid-wrapper {
    overflow: auto;
    position: relative;
    height: 100px;
}

.grid-content {
    width: 8.33%;
    margin: 0;
    border-right: 1px solid #585959;
    height: 100%;
    float: left;
    background-color: #af6d29;
}

.grid-content-gutter {
    width: 8.33%;
    margin: 0;
    border-right: 0.9375rem solid #585959;
    height: 100%;
    float: left;
    background-color: #af6d29;
}

.grid-content-margin {
    width: 8.33%;
    margin: 0;
    border-top: 0.9375rem solid #585959;
    border-right: 0.9375rem solid #585959;
    border-bottom: 0.9375rem solid #585959;
    border-left: 0.9375rem solid #585959;
    height: 100%;
    float: left;
    background-color: #af6d29;
}

/* ------------------------ */
/* BUTTONS                  */
/* ------------------------ */

.button-main-orange {
    background-color: #af6d29;
    border: none;
    color: #ffffff;
    padding: 0.75rem 1.5rem;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1.5rem;
    margin: 2rem 0.1rem;
    cursor: pointer;
    border-radius: 0.75rem;
    margin-bottom: 0.5rem;
    font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif;
}

.button-main-grey {
    background-color: #8c8c8c;
    border: none;
    color: #ffffff;
    padding: 0.75rem 1.5rem;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1.5rem;
    margin: 2rem 0.1rem;
    cursor: pointer;
    border-radius: 0.75rem;
    margin-bottom: 0.5rem;
    font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif;
}

a.button-main {
    color: #eeeeee !important;
    text-decoration: none !important;
    font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif; 
}

.button-main-orange:hover {
    background-color: #7d4a16 !important;
}

.button-main-grey:hover {
    background-color: #666666 !important;
}

/* ------------------------ */
/* CARDS                    */
/* ------------------------ */

.card {
    box-shadow: 0 0.5rem 0.5rem 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 33%;
    border-radius: 1.5rem;
}

.card:hover {
    box-shadow: 0 1rem 1rem 0 rgba(0,0,0,0.2);
}

.container-card {
    padding: 3rem 2rem;
}

img.card-image {
    border-radius: 1.5rem;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

h1.main-heading-card {
    font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif;
    font-weight: bold;
    line-height: 1.25;
    color: #af6d29;
    font-size: 2.5rem;
}

p.main-text-card {
    font-size: 1.5rem;
    line-height: 1.5;
    margin-top: 2rem;
    color: #58585b;
}

/* ------------------------ */
/* DIALOG BOXES             */
/* ------------------------ */

.dialog-box {
    transition: 0.3s;
    width: 33%;
    border-radius: 1.5rem;
    background-color: #f8f0e8;
}

.dialog-box:hover {
    box-shadow: 0 1rem 1rem 0 rgba(0,0,0,0.2);
}

.container-dialog {
    padding: 3rem 2rem;
}

h1.main-heading-card {
    font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif;
    font-weight: bold;
    line-height: 1.25;
    color: #af6d29;
    font-size: 2.5rem;
}

p.main-text-card {
    font-size: 1.5rem;
    line-height: 1.5;
    margin-top: 2rem;
    color: #58585b;
}

/* ------------------------ */
/* PROGRESS BAR             */
/* ------------------------ */

.progress-light-grey {
    color: #000000!important;
    background-color: #f1f1f1!important;
    width: 50%;
}

.progress-round-xlarge {
    border-radius: 2rem;
}

.progress-container {
    padding: 0.5rem 1.5rem;
}

.progress-orange {
    color: #ffffff!important;
    background-color: #af6d29!important;
    width: 75%;
}

/* ------------------------ */
/* ALERT & TOOLTIPS BOX     */
/* ------------------------ */

.alert-box {
    transition: 0.3s;
    width: 25%;
    border-radius: 1.5rem;
    background-color: #f8f0e8;
}

.alert-box:hover {
    box-shadow: 0 1rem 1rem 0 rgba(0,0,0,0.2);
}

.container-tooltip {
    padding: 3rem 2rem;
}

.ui-tooltip {
    color: #000000 !important;
    font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif !important;
}

p.alert-text {
    font-size: 1.5rem;
    line-height: 1.5;
    font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif;
    font-weight: bolder!important;
    color: #000000;
}

/* ------------------------ */
/* DROP DOWN MENU           */
/* ------------------------ */

.drop-button {
    background-color: #af6d29;
    color: white;
    padding: 1.5rem;
    font-size: 2rem;
    border: none;
    cursor: pointer;
    border-radius: 1.5rem;
    font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif;
}

.drop-down {
    position: relative;
    display: inline-block;
}

.drop-down-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 13rem;
    box-shadow: 0 0.75rem 1rem 0 rgba(0,0,0,0.2);
    z-index: 1;
}

.drop-down-content a {
    color: black;
    padding: 1rem 1.5rem;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #f1f1f1
}

.drop-down:hover .drop-down-content {
    display: block;
}

.drop-down:hover .drop-button {
    background-color: #7d4a16;
}

/* ------------------------ */
/* CHECKBOXES               */
/* ------------------------ */

.container {
    display: block;
    position: relative;
    padding-left: 3.5rem;
    margin-bottom: 1rem;
    cursor: pointer;
    font-size: 1.60rem;
    user-select: none;
    padding-top: 0.5rem;
    font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif;
}

.container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 2.5rem;
    width: 2.5rem;
    background-color: #eee;
}

.container:hover input ~ .checkmark {
    background-color: #ccc;
}

.container input:checked ~ .checkmark {
  background-color: #af6d29;
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.container input:checked ~ .checkmark:after {
    display: block;
}

.container .checkmark:after {
    left: 0.9rem;
    top: 0.35rem;
    width: 0.75rem;
    height: 1.5rem;
    border: solid white;
    border-width: 0 3px 3px 0;
    transform: rotate(45deg);
}

/* ------------------------ */
/* RADIO BUTTONS            */
/* ------------------------ */

.container {
    display: block;
    position: relative;
    padding-left: 3.5rem;
    margin-bottom: 1rem;
    cursor: pointer;
    font-size: 1.60rem;
    user-select: none;
    padding-top: 0.5rem;
    font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif;
}

.container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

.radiomark {
    position: absolute;
    top: 0;
    left: 0;
    height: 2.5rem;
    width: 2.5rem;
    background-color: #eee;
    border-radius: 50%;
}

.container:hover input ~ .radiomark {
    background-color: #ccc;
}

.container input:checked ~ .radiomark {
  background-color: #af6d29;
}

/* ------------------------ */
/* FORM ELEMENTS            */
/* ------------------------ */

input[type=text], select {
    width: 100%;
    padding: 1rem 1.5rem;
    margin: 1rem 0;
    display: inline-block;
    border: 0.1rem solid #f8f0e8;;
    border-radius: 1rem;
    box-sizing: border-box;
    margin-bottom: 2rem;
}

input[type=submit] {
    background-color: #af6d29;
    color: #ffffff;
    padding: 1rem 1.5rem;
    margin-top: 1rem;
    border: none;
    border-radius: 1rem;
    cursor: pointer;
    width: 10%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 1.5rem;
    font-size: 1.5rem;
    font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif;
}

input[type=submit]:hover {
    background-color: #7d4a16;
}

.form-elements {
    border-radius: 1.5rem;
    background-color: #f8f0e8;
    padding: 3rem;
}

/* ------------------------ */
/* ACCORDION BOX            */
/* ------------------------ */

.ui-accordion.ui-accordion-content {
    border: none !important;
}

.ui-accordion-header {
    font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif;
    background: #af6d29 !important;
    max-width: 100% !important;
    color: #ededed !important;
    font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif;
    font-weight: bold;
    font-size: 24px !important;
    border-radius: 15px !important;
    margin: 5px !important;
}

.ui-accordion-content {
    background: #e1e1e1 !important;
    height: auto !important;
    padding-bottom: 50px !important;
}

.ui-state-default {
    border: none !important;
}

.ui-corner-bottom {
    border: none !important;
}

/* ------------------------ */
/* UI BOX                   */
/* ------------------------ */

.ui-widget.ui-widget-content {
    border: none !important;
}

.ui-widget-header {
    font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif;
    background: #f5f5f5 !important;
    color: #000000 !important;
    margin: 15px !important;
}

.ui-widget-content {
    background: #f5f5f5 !important;
    border-radius: 15px !important;
}

/* ------------------------ */
/* DIV BOXES                */
/* ------------------------ */

.cd-box {
  /* this is the container of various design elrements - i.e. the 2 logo of the grid section */
  border: 1px solid #e6e6e6;
  border-radius: 3px;
  background: #ffffff;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
  padding: 6px;
}

.cd-box-nested {
  /* this is the container of various design elrements - i.e. the 2 logo of the grid section */
  border: 1px solid #e6e6e6;
  border-radius: 3px;
  background: #f8f8f8;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
  padding: 6px;
}

/* ------------------------ */
/* HEADER                   */
/* ------------------------ */

header {
  background-color: #585959;
}

.cd-logo {
  /* logo box style */
  background-color: #ededed;
  width: 120px;
}

main > h1 {
  color: #19191a;
}

@media only screen and (min-width: 1024px) {
  .cd-logo {
    width: 180px;
  }
}

/* ------------------------ */
/* OTHER                    */
/* ------------------------ */

hr {
    border: 1px solid #e6e6e6
}

.cd-select::after {
  /* switcher arrow for select elrement */
  content: '';
  position: absolute;
  z-index: 1;
  right: 14px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  display: block;
  width: 16px;
  height: 16px;
  background: url("../assets/form/icon-select.svg") no-repeat center center;
  pointer-events: none;
}

select {
  position: relative;
  padding: .6rem 2rem .6rem 1rem;
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
}

/* ------------------------ */
/* BASIC STYLE              */
/* ------------------------ */

body {
    /* this is the page background */
    background-color: #ffffff;
}

*, *::after, *::before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "Century Gothic", serif;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}

input, textarea, select {
  font-family: "Century Gothic", serif;
  font-size: 1.6rem;
}

header {
  position: fixed;
  height: 50px;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 10;
}

@media only screen and (min-width: 1024px) {
  header {
    height: 80px;
  }
  header:after {
    content: "";
    display: table;
    clear: both;
  }
}

.cd-logo {
  display: inline-block;
  height: 100%;
  position: relative;
}
.cd-logo img {
  position: absolute;
  display: block;
  top: 50%;
  left: 50%;
    padding: 10px;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  -o-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

main {
  width: 90%;
  max-width: 1024px;
  margin: 0 auto;
  padding: 50px 0;
}

@media only screen and (min-width: 1024px) {
  main {
    padding-top: 80px;
  }
}

section {
  margin: 3rem 0;
}
section:after {
  content: "";
  display: table;
  clear: both;
}

@media only screen and (min-width: 768px) {
  section {
    margin: 3rem 0 5rem;
  }
}

/* ------------------------ */
/* COLOURS                  */
/* ------------------------ */

.cd-colors li {
    text-align: center;
    width: 48%;
    float: left;
    margin: 0 4% 1rem 0;
    list-style-type: none;
}
.cd-colors li:nth-of-type() {
  margin-right: 0;
}
.cd-colors .cd-color-swatch-one, .cd-color-swatch-two, .cd-color-swatch-three, .cd-color-swatch-four, .cd-color-swatch-five, .cd-color-swatch-six, .cd-color-swatch-seven, .cd-color-swatch-eight, .cd-color-swatch-nine, .cd-color-swatch-ten, .cd-color-swatch-eleven, .cd-color-swatch-twelve, .cd-color-swatch-thirteen, .cd-color-swatch-fourteen, .cd-color-swatch-fifthteen, .cd-color-swatch-sixteen, .cd-color-swatch-seventeen, .cd-color-swatch-eighteen, .cd-color-swatch-nineteen, .cd-color-swatch-twenty, .cd-color-swatch-twenty-one, .cd-color-swatch-twenty-two, .cd-color-swatch-twenty-three,.cd-color-swatch-twenty-four,.cd-color-swatch-twenty-five,.cd-color-swatch-twenty-six,.cd-color-swatch-twenty-seven,.cd-color-swatch-twenty-eight, .cd-color-swatch-twenty-nine, .cd-color-swatch-thirty, .cd-color-swatch-thirty-one, .cd-color-swatch-thirty-two, .cd-color-swatch-thirty-three, .cd-color-swatch-thirty-three, .cd-color-swatch-thirty-four, .cd-color-swatch-thirty-five {
  position: relative;
  width: 100%;
  padding: 50% 0;
}

/*ORANGE*/
.cd-colors .cd-color-swatch-one {
  background: #D6C4B2;
}
.cd-colors .cd-color-swatch-two {
  background: #C9A57F;
}
.cd-colors .cd-color-swatch-three {
  background: #BD8851;
}
/*Main orange*/
.cd-colors .cd-color-swatch-four {
  background: #AF6D29;
}
.cd-colors .cd-color-swatch-five {
  background: #7D4A16;
}
.cd-colors .cd-color-swatch-six {
  background: #4A2A0A;
}
.cd-colors .cd-color-swatch-seven {
  background: #211203;
}

/*GREEN*/
.cd-colors .cd-color-swatch-eight {
  background: #B2D6BC;
}
.cd-colors .cd-color-swatch-nine {
  background: #7FC994;
}
.cd-colors .cd-color-swatch-ten {
  background: #51BD6F;
}
.cd-colors .cd-color-swatch-eleven {
  background: #29AF4F;
}
.cd-colors .cd-color-swatch-twelve {
  background: #167D33;
}
.cd-colors .cd-color-swatch-thirteen {
  background: #0A4A1C;
}
.cd-colors .cd-color-swatch-fourteen {
  background: #03210B;
}

/*RED*/
.cd-colors .cd-color-swatch-fifthteen {
  background: #D6B2B2;
}
.cd-colors .cd-color-swatch-sixteen {
  background: #C97F7F;
}
.cd-colors .cd-color-swatch-seventeen {
  background: #BD5151;
}
.cd-colors .cd-color-swatch-eighteen {
  background: #AF2929;
}
.cd-colors .cd-color-swatch-nineteen {
  background: #7D1616;
}
.cd-colors .cd-color-swatch-twenty {
  background: #4A0A0A;
}
.cd-colors .cd-color-swatch-twenty-one {
  background: #210303;
}

/*BLUE*/
.cd-colors .cd-color-swatch-twenty-two {
  background: #B2BED6;
}
.cd-colors .cd-color-swatch-twenty-three {
  background: #7F99C9;
}
.cd-colors .cd-color-swatch-twenty-four {
  background: #5176BD;
}
.cd-colors .cd-color-swatch-twenty-five {
  background: #2957AF;
}
.cd-colors .cd-color-swatch-twenty-six {
  background: #163A7D;
}
.cd-colors .cd-color-swatch-twenty-seven {
  background: #0A204A;
}
.cd-colors .cd-color-swatch-twenty-eight {
  background: #030D21;
}

/*GREY*/
.cd-colors .cd-color-swatch-twenty-nine {
  background: #D9D9D9;
}
.cd-colors .cd-color-swatch-thirty {
  background: #C4C4C4;
}
.cd-colors .cd-color-swatch-thirty-one {
  background: #A6A6A6;
}
.cd-colors .cd-color-swatch-thirty-two {
  background: #8C8C8C;
}
.cd-colors .cd-color-swatch-thirty-three {
  background: #666666;
}
.cd-colors .cd-color-swatch-thirty-four {
  background: #404040;
}
.cd-colors .cd-color-swatch-thirty-five {
  background: #212121;
}

@media only screen and (min-width: 768px) {
  .cd-colors li {
    width: 18.75%;
    float: left;
    margin: 0 1.25% 1rem 0;
  }
  .cd-colors li:nth-of-type(2n) {
    margin-right: 1.25%;
  }
  .cd-colors li:nth-of-type(5n) {
    margin-right: 0;
  }
}

.cd-principles .cd-box,
.cd-typography .cd-box,
.cd-colours .cd-box,
.cd-layouts .cd-box,
.cd-spacing-sizing .cd-box,
.cd-components .cd-box,
.cd-box,
.cd-box-nested
.cd-box-components-section {
    padding: 1rem;
}

.cd-box-components-section {
    margin-bottom: 7rem;
}

@media only screen and (min-width: 768px) {
.cd-principles .cd-box,
.cd-typography .cd-box,
.cd-colours .cd-box,
.cd-layouts .cd-box,
.cd-spacing-sizing .cd-box,
.cd-components .cd-box,
.cd-box,
.cd-box-nested {
    padding: 2rem;
  }
}